<template >
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="bg-black text-white">
        <!--
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
        -->

        <q-toolbar-title>
          MReader
        </q-toolbar-title>

      </q-toolbar>
    </q-header>

    <!--
      <q-drawer
      v-model="leftDrawerOpen"
      dark
    >
    <q-list>
      <template v-for="(menuItem, index) in menuList" :key="index">
        <q-item clickable v-ripple :to=menuItem.goTo class="drawerItem">
          <q-item-section>
            {{ menuItem.label }}
          </q-item-section>
        </q-item>
      </template>
    </q-list>

    </q-drawer>
    -->

    <q-page-container class="qContainer">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>


import { useQuasar } from 'quasar'
import { defineComponent, ref } from 'vue'

  const menuList = [
  {
    label: 'Mangás',
    separator: true,
    goTo: '/mangas'
  },
  ]

export default defineComponent({
  name: 'MainLayout',

  components: {
  
  },
  
  setup () {
    const leftDrawerOpen = ref(false)
    const $q = useQuasar()

    function newManga () {
      $q.dialog({
        dark: true,
        title: 'Adicionar mangá',
        message: 'Digite a URL',
        prompt: {
          model: '',
          type: 'text' // optional
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
       
      }).onCancel(() => {
         
      }).onDismiss(() => {
         
      })
    }



    return {
      leftDrawerOpen,
      menuList,
      newManga,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },
    }
  }
})
</script>

<style>
.qContainer{
  background-color: rgb(24, 24, 24);
}
.drawerItem{
  padding:20px
}
</style>