<template>
  <q-page padding>

    <q-list v-for="image in images" v-bind:key="image">
      <q-item>
        <q-img
      :src="image"
      />
      </q-item>
    </q-list>

  </q-page>
</template>

<script>
import { defineComponent, ref, computed } from 'vue'
import { useRoute } from 'vue-router'
import { api } from 'boot/axios'

export default defineComponent({
   name: 'Chapters',

   setup(){

     const route = useRoute()

     const imageList = ref([])

     const images = computed({
      get: () => {
        let list = []
        for (const image in imageList.value) {
          list.push(imageList.value[image])
        }
        return list
      }
    })
     
  URL = "https://readmanganato.com/" + route.params.url.split('@').join('/')
  api.post('/interface/loadImages', JSON.stringify({url:URL.toString()}))
  .then((response) => {
    imageList.value = response.data
  })

     return {
       images,
       }
   }
})
</script>
