<template>
  <q-page>
    <q-list v-for="(chapter, index) in Chapters" v-bind:key="chapter">
      <q-item class="chapter">
        <q-btn @click="saveChapter(chapter, index)">
          <q-icon :name="chapter['downloadStatus']" />
        </q-btn>
        <q-item clickable :to="getURL(chapter.URL)" style="width: 100%">{{
          chapter["numero"]
        }}</q-item>
      </q-item>
    </q-list>
  </q-page>
</template>

<script>
import { ref, computed } from "vue";
import { useRoute } from "vue-router";
import { api } from "boot/axios";
import { useQuasar } from "quasar";

export default {
  name: "ChapterList",

  setup() {
    const $q = useQuasar();

    const route = useRoute();

    const ChapterList = ref([]);

    const Chapters = computed({
      get: () => {
        let list = [];
        for (const chapter in ChapterList.value) {
          list.push(ChapterList.value[chapter]);
        }
        return list;
      },
    });

    var URL = "https://readmanganato.com/" + route.params.url;
    api
      .post("/interface/getChapters", JSON.stringify({ url: URL.toString() }))
      .then((response) => {
        ChapterList.value = response.data;
      });

    const saveChapter = (chapter, index) => {
      if (chapter["downloadStatus"] != "done") {
        api
          .post(
            "/interface/saveChapter",
            JSON.stringify({ url: chapter.URL, number: chapter["numero"] })
          )
          .then((response) => {
            chapter["downloadStatus"] = "done";
          });
      } else {
        $q.dialog({
          title: "Delete",
          message: "Do you want to delete the chapter?",
          cancel: true,
          dark: true,
        }).onOk(() => {
          api.post(
            "/interface/deleteChapter",
            JSON.stringify({ url: chapter.URL })
          );
          chapter["downloadStatus"] = "download";
        });
      }
    };

    const getURL = (rawUrl) => {
      let url = rawUrl.split("/");
      url.splice(0, 3);
      url = url.join("@");
      return "/chapters/" + url;
    };

    return {
      Chapters,
      saveChapter,
      getURL,
    };
  },
};
</script>
<style>
.chapter {
  color: white;
  font-size: 300%;
  display: flex;
  text-align: center;
  background-color: black;
  margin: 50px;
  border-radius: 30px;
  width: 80%;
}
</style>
