<template>
  <q-page class="flex flex-center">
    <div class="row" style="background: dark-grey">
      <div class="col-15">
        <q-input
          rounded
          outlined
          v-model="newManga"
          label="New Manga"
          label-color="white"
          placeholder="Name|URL"
          style="padding: 50px; width: 500px"
          v-on:keyup.enter="addManga()"
        />
        <q-btn
          label="Delete"
          @click="excluir = !excluir"
          color="black"
          text-color="white"
        />
        <q-list v-for="(manga, index) in mangas" v-bind:key="manga">
          <q-item class="manga">
            <q-btn
              :label="manga.nome"
              :to="getURL(manga.URL)"
              style="width: 100%"
            />
            <q-btn
              v-if="excluir"
              class="btn-excluir"
              @click="removeManga(index)"
            >
              <q-icon name="delete" />
            </q-btn>
          </q-item>
        </q-list>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref, computed } from "vue";
import { useQuasar } from "quasar";
import { api } from "boot/axios";

export default defineComponent({
  name: "Mangas",

  setup() {
    const $q = useQuasar();

    const getURL = (rawUrl) => {
      let url = rawUrl.split("/");
      url.splice(0, 3);
      return "/chapterlist/" + url;
    };

    const excluir = ref(false);

    const mangaList = ref([]);

    const mangas = computed({
      get: () => {
        let list = [];
        for (const manga in mangaList.value) {
          list.push(mangaList.value[manga]);
        }
        return list;
      },
    });
    const newManga = ref("");

    api.post("/interface/getMangas").then((response) => {
      response.data.forEach((savedManga) => {
        mangaList.value.push(savedManga);
      });
    });

    const addManga = () => {
      const manga = newManga.value.split("|");
      newManga.value = "";

      const novomanga = {
        nome: manga[0],
        URL: manga[1],
      };

      mangaList.value.push(novomanga);

      api.post(
        "/interface/saveManga",
        JSON.stringify({ title: novomanga.nome, url: novomanga.URL })
      );
    };

    const removeManga = (index) => {
      $q.dialog({
        title: "Delete",
        message: "Do you want to delete the manga and all saved chapters?",
        cancel: true,
        dark: true,
      }).onOk(() => {
        api.post(
          "/interface/deleteManga",
          JSON.stringify({ url: mangaList.value[index].URL })
        );
        mangaList.value.splice(index, 1);
      });
    };

    return {
      mangaList,
      mangas,
      newManga,
      excluir,
      addManga,
      removeManga,
      getURL,
    };
  },
});
</script>
<style>
.manga {
  font-size: 300%;
  color: white;
  display: flex;
  text-align: center;
  background-color: black;
  margin: 50px;
  border-radius: 30px;
  width: 80%;
}

.q-field__native::placeholder {
  color: white;
}

.q-field__native {
  color: white;
}

.btn-excluir {
  align-self: center;
  float: right;
}
</style>
